<main class="main-view">
    <header class="artist">
        <h1>Artist Name</h1>
    </header>
    <div class="content">
        <section class="popular-songs">
            <h2>Popular</h2>
            <ul class="song-list">
                <li class="song-item">
                    <span class="song-number">1</span>
                    <div>
                        <div class="song-title">Song Title 1</div>
                        <div class="song-plays">1,234,567 plays</div>
                    </div>
                    <span class="song-duration">3:30</span>
                </li>
                <li class="song-item">
                    <span class="song-number">2</span>
                    <div>
                        <div class="song-title">Song Title 2</div>
                        <div class="song-plays">987,654 plays</div>
                    </div>
                    <span class="song-duration">4:15</span>
                </li>
                <li class="song-item">
                    <span class="song-number">3</span>
                    <div>
                        <div class="song-title">Song Title 3</div>
                        <div class="song-plays">765,432 plays</div>
                    </div>
                    <span class="song-duration">3:45</span>
                </li>
            </ul>
        </section>
    </div>
</main>