<main class="main-view">
    <header class="playlistHead">
        <div class="playlist-cover"></div>
        <div class="playlist-info">
            <h1>Playlist Name</h1>
            <p>Created by: User Name</p>
            <p>50 songs, 3 hr 15 min</p>
        </div>
    </header>
    <div class="content1">
        <ul class="song-list">
            <li class="song-item">
                <span class="song-number">1</span>
                <div class="song-title">Song Title 1</div>
                <div class="song-artist">Artist Name 1</div>
                <span class="song-duration">3:30</span>
            </li>
            <li class="song-item">
                <span class="song-number">2</span>
                <div class="song-title">Song Title 2</div>
                <div class="song-artist">Artist Name 2</div>
                <span class="song-duration">4:15</span>
            </li>
            <li class="song-item">
                <span class="song-number">3</span>
                <div class="song-title">Song Title 3</div>
                <div class="song-artist">Artist Name 3</div>
                <span class="song-duration">3:45</span>
            </li>
            <li class="song-item">
                <span class="song-number">4</span>
                <div class="song-title">Song Title 4</div>
                <div class="song-artist">Artist Name 4</div>
                <span class="song-duration">5:00</span>
            </li>
            <li class="song-item">
                <span class="song-number">5</span>
                <div class="song-title">Song Title 5</div>
                <div class="song-artist">Artist Name 5</div>
                <span class="song-duration">3:20</span>
            </li>
        </ul>
    </div>
</body>
</main>